@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NOTHS Sans No3 Regular;
  src: url(/fonts/NotoSans-Regular.woff2);
}

@font-face {
  font-family: NOTHS Sans No3 Bold;
  src: url(/fonts/NotoSans-Bold.woff2);
}
